{% extends "layout2.html" %}
    {% import '_macros.html' as macros %}
{% block content %}

<div class="container">
    <div class="row">

        <h3>Alumnos</h3>
        <table class="table table-stripped table-bordered">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Email</th>
                    <th>Elimnar</th>
                    <th>Editar</th>
                </tr>
            </thead>

            <tbody>
                {% for alumno in alumnos %}
                <tr>
                    <td>{{alumno.nombre}}</td>
                    <td>{{alumno.apaterno}}</td>
                    <td>{{alumno.amaterno}}</td>
                    <td>{{alumno.email}}</td>
                    <td><a href="eliminar?id={{alumno.id}}" class="btn btn-danger">Eliminar</a></td>
                    <td><a href="editar?id={{alumno.id}}" class="btn btn-warning">Editar</a></td>
                </tr>
                {% endfor %}
            </tbody>

            
        </table>
    </div>
</div>
{% endblock %}

